{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'recipes:home' %}" class="logo">MyWebsite</a>
            <a href="{% url 'recipes:about' %}">About</a>
            <a href="{% url 'recipes:list' %}">Recipes</a>

            <a href="{% url 'recipes:records' %}">Search</a>
            <div class = "log">
            <a  href="{% url 'logout' %}">Logout</a>
            </div>
        
</div>
    {% block content %}
    <div class="form-container">
        <h2>Add a New Recipe</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>
