{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <div class="navbar">
        <a href="{% url 'recipes:home' %}" class="logo">MyWebsite</a>
            <a href="{% url 'recipes:about' %}">About</a>
            <a href="{% url 'recipes:list' %}">Recipes</a>
            <a href="{% url 'recipes:add_recipe' %}">Add Recipe</a>
            <a href="{% url 'recipes:records' %}">Search</a>
            <div class = "log">
            <a  href="{% url 'logout' %}">Logout</a>
            </div>
        
</div>
<h2>Details: {{object.name}}</h2>

<b>Name: </b> {{object.name}}  <br>

<b>Cooking-Time: </b> {{object.cooking_time}} <br>

<b>Ingredients: </b> {{object.ingredients}} <br>

<b> Difficulty: </b> {{object.difficulty}} <br>


<img src="{{object.pic.url}}" width="100" height="100" />

<br>
<br>
<a href ="{%url 'recipes:list' %}"> Back </a>