{% load static %}
<!DOCTYPE html>
<style>
    h1 {text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
    h2 {font-family: cursive;
        color: purple
        ;
    }
    .image {
        text-align: center;
    }
    .show-list{
        text-align: center
    }
    </style>
        
        
      
<h2 >Welcome to the Recipes App!!</h1>
<p></p>
<p></p>
<h1>Inspired Recipes for You</h2>
<div class="image"><img src="{% static 'recipes/images/recipe_main.jpeg' %}" alt="home" width="600" height="300"></div>
<div class="show-list">
    <a href ="{%url 'login' %}">  Login  </a>
</div>


