<a href ="{%url 'logout' %}"> Logout </a>

<h1>Recipes list</h1>        {% comment%} HTML tag for heading  {% endcomment%}

<table border="1" cellpadding="5" cellspacing = "5">    {% comment%} start of table  {% endcomment%}
   <tr> {% comment%}  the <tr> tag adds a new row   {% endcomment%}
       <td>Recipes Titles</td>   {% comment%} the <td> tag adds a column  {% endcomment%}       
        <td>Recipes Images</td>
   </tr>
   {% for object in object_list %} {% comment%} now go through the list element-by-element  {% endcomment%}
   <tr>
    <td><a href ="{{object.get_absolute_url}}"> {% comment%} add links to book names  {% endcomment%}
        {{object.name}}
        </a></td>
       <td><img src="{{object.pic.url}}" width="200" height="200" /></td>   {% comment%} display the picture of book  {% endcomment%}
   </tr>
   {% endfor %}
</table>
