{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <div class="navbar">
        <a href="{% url 'recipes:home' %}" class="logo">MyWebsite</a>
        <a href="{% url 'recipes:about' %}">About</a>
        <a href="{% url 'recipes:records' %}">Search</a>
        <a href="{% url 'recipes:add_recipe' %}">Add Recipe</a>

        <div class = "log">
            <a  href="{% url 'logout' %}">Logout</a>
            </div>
    </div>


    
</form>


<h1>Recipes list</h1>
<div class="above">
<div class="corner">
    <div class="below">
<table class="list">
    <td>
<div class = "container">
    {% for object in object_list %}
<div class ="card">
        <p></p>
        <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
        <p></p>
        <img class= "cardimage" src="{{ object.pic.url }}"  />
       
</div>
{% endfor %}
</div>
    </td>
</table>
</div>
</div>
</div>




